<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        {% load static %}
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Railway Station - Add Schedule for {{ train.name }}</title>
        <link rel="stylesheet" href="{% static 'styles.css' %}">
    </head>
    <body>
        <h1>Add Schedule for {{ train.name }}</h1>
        <form method="post">{% csrf_token %}
            
            {{ form.as_p }}"
            <button type="submit">Add Schedule</button>
        </form>
        <a href="{% url 'admin_homepage' %}">Back to Homepage</a>
    </body>
</html>