<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Homepage</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    <header>
        <h1>Central Railway Department</h1>
    </header>
    <nav>
        <ul>
            <li><a href="{% url 'index' %}">Home</a></li>
            <li><a href="{% url 'trains_list' %}">Trains</a></li>
            <li><a href="{% url 'logout' %}">Logout</a></li>
        </ul>
    </nav>
    <h1>Welcome to the Admin Homepage</h1>
    <a href="{% url 'trains_list' %}">View Trains</a>
    <a href="{% url 'add_schedule' %}">Add Schedule</a>
    <a href="{% url 'add_train' %}">Add Train</a>
    <a href="{% url 'add_station' %}">Add Station</a>
{% include 'footer.html' %}
</body>
</html>
            