<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Station - Admin Login</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>

</head>
<body>
    {% include 'header.html' %}
    <main>
        <h2>Admin Login</h2>
        <form action="{% url 'admin_login' %}" method="post">
            {% csrf_token %}
            <label for="admin_username">Username:</label>
            <input type="text" id="admin_username" name="username" required>

            <label for="admin_password">Password:</label>
            <input type="password" id="admin_password" name="password" required>
            
            <input type="submit" value="Login">
        </form>
    </main>
{% include 'footer.html' %}
</body>
</html>