<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Station - Booking</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'header.html' %}

    <main>
        <h2>Ticket Booking Form</h2>
        <form action="{% url 'booking' train.id %}" method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input type="submit" value="Book Ticket">
        </form>
    </main>
{% include 'footer.html' %}
</body>
</html>
