
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Railway Station - Home</title>
    <link rel="stylesheet" href="{% static 'styles.css' %}">
</head>
<body>
    {% include 'header.html' %}
    <main>
        <h2>Welcome to our Railway Station</h2>
        <p>Here you can find information about our trains, schedules, and book your tickets.</p>
    </main>
    {% include 'footer.html' %}
</body>
</html>